{% include "acc_aside.html" %}
{% include "acc_header.html" %}
{% include "ad_head.html" %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages %}
<script>alert('{{message}}');</script>
{% endfor %}
{% endif %}
<main id="main" class="main">

    <div class="pagetitle" style="margin-top: -5%;">
      <b><h1>Tutor Management</h1></b>

      <section class="section">
        <div class="row">
          <div class="col-xl-12">

            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
  
                  <li class="nav-item">
                    <button class="nav-link active btn btn-outline-success" data-bs-toggle="tab" data-bs-target="#profile-overview">Add Tutor</button>
                  </li>
  
                  <li class="nav-item">
                    <button class="nav-link btn btn-outline-info" data-bs-toggle="tab" data-bs-target="#profile-edit">Our Tutors</button>
                  </li>
  
                </ul>
                <div class="tab-content pt-2">
  
                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    
                    <div class="row">
                      <div class="col-lg-12">
            
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title"></h5>
                
                              <form class="row g-3" action="/addTutors/" method="post" onsubmit="return Validate();">

                              {% csrf_token %}  <!-- this token takes data -->

                              <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Name" name="tcname" id="aname" onclick="return FormClear();">
                              </div>
                              <div class="col-md-6">
                                <input type="email" class="form-control" placeholder="Email" name="temail" id="aemail" onclick="return FormClear();">
                              </div>
                              <div class="col-md-6">
                                <input type="password" class="form-control" placeholder="Password" name="tpswd" id="apswd" onclick="return FormClear();">
                              </div>
                              <div class="col-md-6">
                                <input type="password" class="form-control" placeholder="Confirm Password" name="tcpswd" id="acpswd" onclick="return FormClear();">
                              </div>
                              <div class="col-6">
                                <div class="input-group mb-4">
                                <input type="text" class="form-control" placeholder="Experience" name="texp" id="texp" onclick="return FormClear();">
                                <span class="input-group-text">Year</span>
                              </div>
                              </div>
                              <div class="col-md-6">
                                <div class="input-group mb-4">
                                <span class="input-group-text">+91</span>
                                <input type="text" class="form-control" placeholder="Contact No" name="tmobile" id="amobile" onclick="return FormClear();">
                              </div>  
                              </div>
                              
                              <div class="col-md-6">
                                <div class="input-group mb-4">
                                <input type="text" class="form-control" placeholder="Consistancy" name="tcity" id="acity" onclick="return FormClear();">
                                <span class="input-group-text">%</span>
                                </div>
                              </div>
                             
                              <div class="col-md-12">
                                <textarea id="ainfo" cols="50" rows="2" placeholder="Information" name="tinfo" onclick="return FormClear();"></textarea>
                              </div>
                              <span id="valid" style="color: red;text-align: center;"></span>
                              <div class="text-center">
                                <input type="submit" class="btn btn-primary" value="Submit" name="submit">
                                <button type="reset" class="btn btn-secondary">Reset</button>
                              </div>
                              </form>
                
                            </div>
                          </div>
                        </div>
                    </div>
  
                  </div>
  
                  <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
  
                    <div class="row">
                        <div class="col-lg-12">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Manage Tutors</h5> 
                              <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <!-- <th scope="col">No</th> -->    
                                    <th scope="col">Name</th>
                                    <th scope="col">Contact No</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>  
                                    {% for j in a %}
                                  
                                    <!-- <th scope="row">{{ forloop.counter }}</th> -->
                                    <td>{{j.tu_name}}</td>
                                    <td>{{j.tu_contact}}</td>
                                    <td>
                                      <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                                      </div>
                                    </td>
                                    <td>
                                      <a href="#"><button type="button" class="btn btn-success btn-sm">Update</button></a>
                                      <button type="button" class="btn btn-danger btn-sm">Remove</button></td>
                                  </tr>
                                   
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                    <!-- End Profile Edit Form -->
  
                  </div>
                </div>
                <!-- End Bordered Tabs -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>
      </div>
</main>
<script>
    function Validate()
    {
      var a = document.getElementById('aname').value.trim();
      var b = document.getElementById('aemail').value.trim();
      var c = document.getElementById('apswd').value.trim();
      var d = document.getElementById('texp').value.trim();
      var e = document.getElementById('amobile').value.trim();
      var g = document.getElementById('acity').value.trim();
      var i = document.getElementById('ainfo').value.trim();
      var j = document.getElementById('acpswd').value.trim();

      if(a=="")
      {
        document.getElementById('valid').innerHTML = "Enter Tutor's name";
        return false;
      }
      if(b=="")
      {
        document.getElementById('valid').innerHTML = "Enter Email";
        return false;
      }
      if(c=="")
      {
        document.getElementById('valid').innerHTML = "Enter Password";
        return false;
      }
      if(c.length<8)
      {
        document.getElementById('valid').innerHTML = "Password must contain minimum 8 characters";
        return false;
      }
      if(j=="")
      {
        document.getElementById('valid').innerHTML = "Confirm Password";
        return false;
      }
      if(c!=j)
      {
        document.getElementById('valid').innerHTML = "Password Doesn't Match";
        return false;
      }
      if(d=="")
      {
        document.getElementById('valid').innerHTML = "Enter Experience";
        return false;
      }
      if(e=="")
      {
        document.getElementById('valid').innerHTML = "Enter Contact No";
        return false;
      }
     
      if(g=="")
      {
        document.getElementById('valid').innerHTML = "Tutor's Consistancy";
        return false;
      }
      if(i=="")
      {
        document.getElementById('valid').innerHTML = "Provide Information";
        return false;
      }
    }
    function FormClear(){
      document.getElementById('valid').innerHTML = "";
      return false;
    }
  </script>
{% endblock %}