{% include "ad_aside.html" %}
{% include "ad_header.html" %}
{% include "ad_head.html" %}
{% load static %}
{% block content %}
<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Manage Users</h5>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Contact No</th>
                  <th scope="col">Profession</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for j in b %}
                  {% for k in c %}
                  {% if j.login_id == k.id %}
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{j.Name}}</td>
                  <td>{{k.Unemail}}</td>
                  <td>{{j.ContactNo}}</td>
                  <td>{{j.Profession}}</td>
                  <td>
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    </div>
                  <td>
                    <button type="button" class="btn btn-danger btn-sm">Remove</button>
                  </td>
                </tr>
                  {% endif %}
                  {% endfor %}
                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}