{% include "user_aside.html" %}
{% include "user_header.html" %}
{% include "ad_head.html" %}
{% load static %}
{% block content %}
<main id="main" class="main">

  <div class="pagetitle" style="margin-top: -5%;">
    <center><b>
        <h1>Course Details</h1>
      </b></center>

    <section class="section">
      <div class="row">
        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->

              <div class="tab-content pt-2">

                <div class="row">
                  <div class="col-lg-12">

                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title"></h5>

                        <form class="row g-3" action="#" method="post">

                          {% csrf_token %}
                          <!-- this token takes data -->
                          <div class="card mb-3">
                            <span class="badge bg-info text-dark">Accademy Name</span>

                            <div class="row g-0">
                              <div class="col-md-4">
                                <img src="{{reqdet.dthumb}}" width="250" height="200" class="img-fluid rounded-start"
                                  alt="{{reqdet.dthumb}}">

                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">title</h5>
                                  <p class="card-text">description</p>
                                  <ul>
                              
                                    <li> <i class="ri-star-half-fill"></i></li>
                                    <li>Units : </li>
                                    <li>Language : </li>
                                    <li>Feature : </li>

                                  </ul>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <p>Date: Dd/mm/yyyy</p>

                              </div>
                              <div class="col-md-4">
                                <p>Duration: _ Months</p>

                              </div>
                              <div class="col-md-4">
                                <p>Tutor: tutr name</p>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-8">
                            
                              <div class="col-md-6">
                                <h5 class="card-title">Unit 1 : </h5>
                                <h5 class="card-title">Unit 2 : </h5>
                                <h5 class="card-title">Unit 3 : </h5>
                              </div>
                            
                          </div>
                      </div>
                      <div class="text-center">
                        <!-- <input type="hidden" value="{{reqdet.id}}" name="doubtid"> -->
                        <input type="submit" class="btn btn-warning" value="Subscribe">
                        
                      </div>
                      </form>
                     <a href="/user_course/"> <input type="submit" class="btn btn-success" value="My Courses"> </a>

                    </div>
                  </div>
                </div>
              </div>
              <!-- End Bordered Tabs -->
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}