{%load static%}
<html>
<head>
  <script>
    var a = "{{message}}"
    if(a.length!=0){
      alert(a);
    }
  </script> 
  <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/log_login.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Trader Trot - Forgot password</title>
</head>
<header class="header">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <a href="#" class="logo"> <i class="fas fa-chart-line"></i> TraderTrot </a>


    <nav class="navbar">
        <a href="/index/">Home</a>
        <a href="#">Contact Us</a>
    </nav>

    <div id="menu-btn" class="fas fa-bars"></div>

</header>
<body>
<section class="tab" >
<div class="clearfix secondary-nav" style="margin-left:627px;margin-top:65px;">
              <ul class="list">
                 
              </ul>
          </div>
</section>
 
<section class="home loginpage" id="home">
    
        <div class="loginimage" align ="center">
            <img src="{% static 'assets/img/investing-animate.svg'%}"  alt="">
        </div>
    
  <div class="main"  align ="center">
    <p class="sign" align="center">Sign in</p>  
    <form class="form1" action="/pswdreset/" method="post" onclick="return validate()">

      {% csrf_token %} 
      
      <span id="un" style="color:red;"></span><br>
      <input class="un " type="text" name="email" align="center" placeholder="Email" id="uname" onclick="return clearValid()"><br>
      
      <span id="un" style="color:red;">{{message}}</span><br>
      <input type="submit" name="submit" value="submit" class="submit" align="center" > 

    </form>    
    <p class="forgot" align="center"><a  style="margin-left: 38px; " href="/user_reg">New User?</p>      
  </div>
</section>
</body>
<script>
  function validate()
  {
    var uname=document.getElementById('uname').value.trim();
    if (uname=="")
    {
      document.getElementById('un').innerHTML="**Enter Email";
      return false;
    }
    else
    {
      return true;
    }
  }
  function clearValid(){
    document.getElementById('un').innerHTML="";
    return false;
  }
</script>
</html