<html>
<head>
  <link rel="stylesheet" href="../static/assets/css/login.css">
  <link rel="stylesheet" href="../static/assets/css/log_login.css">

  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>
<header class="header">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <a href="#" class="logo"> <i class="fas fa-chart-line"></i> TraderTrot </a>


    <nav class="navbar">
        <a href="#">HomE</a>
        <a href="#">Contact Us</a>
        <!--<a href="#">about</a>
         <a href="#">doctors</a>
        <a href="#">book</a>
        <a class="btn" id="loginbtn" href="login.php">Login / Register</a> -->
    </nav>

    <div id="menu-btn" class="fas fa-bars"></div>

</header>
<body>
<section class="tab" >
<div class="clearfix secondary-nav" style="margin-left:627px;margin-top:65px;">
              <ul class="list">
                 <!-- <li><a style="text-decoration : underline;color: #16a085;" class="logintab" href="login.php">Login</a></li> -->
                 <!-- <li><a class="rtab" href="#">Register</a></li> -->
              </ul>
          </div>
</section>
 
<section class="home loginpage" id="home">
    
        <div class="loginimage" align ="center">
            <img src="../static/assets/img/investing-animate.svg"  alt="">
        </div>
    
  <div class="main"  align ="center">
    <p class="sign" align="center">Sign in</p>
    <form class="form1" action="" method="post">
      <input class="un " type="text" align="center" placeholder="Username">
      <input class="pass" type="password" align="center" placeholder="Password">
      <a class="submit" align="center">Sign in</a>
      <p class="forgot" align="center"><a  style="margin-left: 38px; " href="#">Forgot Password?</p>
            
    </form>        
    </div>

</section>
</body>
</html