{% include "user_aside.html" %}
{% include "user_header.html" %}
{% include "ad_head.html" %}
{% load static %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle" style="margin-top: -5%;">
        <b>
            <h1 style="margin-bottom: 1%;">Stock Recomendations for You</h1>
        </b>

        <section class="section" style="margin-bottom: 1%;">
            <div class="row">
                <div class="col-xl-12">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->

                            <div class="tab-content pt-2">

                                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                    <div class="row">
                                        <div class="col-lg-12">

                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title"></h5>

                                                    <!-- investing request -->

                                                    <div class="container">
                                                        <h2 class="text-center"><u>Parking slots</u></h2><br>
                                                   
                                                        <div class="col-md-12">

                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="col">
                                                                    <!-- if condition -->
                                                                        <button type="button" class="btn btn-success mb-2">
                                                                            Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                          </button>
                                                                    <!-- else -->
                                                                          <button type="button" class="btn btn-danger mb-2">
                                                                            Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                           </button>
                                                                    <!-- endif -->
                                                                    </div>
                                                                </div>

                                                                <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                </div>

                                                                <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                                 <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                                 <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                                 <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                                 <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                                 <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                                 <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                                 <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                            </div>
                                                            <div class="row">
                                                                    <button class="btn btn-light">
                                                                        <div class="progress mt-3">
                                                                            <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                                          </div>
                                                                    </button>
                                                                    <button class="btn btn-light">
                                                                        <div class="progress mt-3">
                                                                            <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                                          </div>
                                                                    </button>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                </div>

                                                                <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                </div>

                                                                <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                                 <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                                 <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                                 <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                                 <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                                 <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                                 <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                                 <div class="col">
                                                                    <div class="col">
                                                                        <!-- if condition -->
                                                                            <button type="button" class="btn btn-success mb-2">
                                                                                Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>slot_no</span>
                                                                              </button>
                                                                        <!-- else -->
                                                                              <button type="button" class="btn btn-danger mb-2">
                                                                                Equipped<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>slot_no</span>
                                                                               </button>
                                                                        <!-- endif -->
                                                                        </div>
                                                                 </div>

                                                            </div>
                                                            

                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Bordered Tabs -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}