{% include "user_aside.html" %}
{% include "user_header.html" %}
{% include "ad_head.html" %}
{% load static %}
{% block content %}
<html>
    <main id="main" class="main">
        <form action="/plotly/" method="post">
            {% csrf_token %}  <!-- this token takes data -->

            <div class="row 6">
                <input name="stock" list="stock" class="form-select" id="floatingSelect" aria-label="Floating label select example" placeholder="Stock">
                <datalist id="stock">  
                    <option selected>Stock</option>
                      {% if list %}
                      {% for i in list %}
                      <option value={{i}}>{{i}}</option>
                      {% endfor %}
                     {% endif %}
                    </datalist>
                  </input>
                </div>
        <input type="submit" name="" id="" value="Search" class="btn btn-outline-success">
    </form>

    {% if graph %}
    <div style="width:600; height: 500;">
        {{ graph|safe }}
    </div>
    {% else %}
    <p>NO graph</p>
    {% endif %}
</main>
</html>
{% endblock %}