{% include "user_aside.html" %}
{% include "user_header.html" %}
{% include "ad_head.html" %}
{% load static %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle" style="margin-top: -5%;">
      <b><h1 style="margin-bottom: 1%;">Stock Performance Monitoring</h1></b>

      <section class="section" style="margin-bottom: 1%;">
        <div class="row">
          <div class="col-xl-12">

            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
  
                  <li class="nav-item">
                    <button class="nav-link active btn btn-outline-success" data-bs-toggle="tab" data-bs-target="#profile-overview">Stock Analysis</button>
                  </li>
  
                  <!-- <li class="nav-item">
                    <button class="nav-link btn btn-outline-info" data-bs-toggle="tab" data-bs-target="#profile-edit">Trading</button>
                  </li> -->

                 
  
                </ul>
                <div class="tab-content pt-2">
  
                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    
                    <div class="row">
                      <div class="col-lg-12">
            
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title"></h5>

                              <!-- investing request -->
                              <form class="row g-3" action="/stockanalysis/" method="post" onsubmit="return Valida1();"  enctype="multipart/form-data">

                              {% csrf_token %}  <!-- this token takes data -->

                              <div class="row 6">
                                <input name="stock" list="stock" class="form-select" id="floatingSelect" aria-label="Floating label select example" placeholder="Stock">
                                <datalist id="stock">  
                                    <option selected>Stock</option>
                                      {% if list %}
                                      {% for i in list %}
                                      <option value={{i}}>{{i}}</option>
                                      {% endfor %}
                                     {% endif %}
                                    </datalist>
                                  </input>
                              </div>
                              <div class="">               
                              
                              </div>
                                <span id="valid" style="color: red;text-align: center;"></span><br>
                                <div class="text-center">
                                  <input type="submit" class="btn btn-primary" value="Request">
                                  <button type="reset" class="btn btn-secondary">Reset</button>
                                  <button class="btn btn-outline-primary" ><a href="/stock_prediction/">Prediction</a></button>
                                  <!-- <button class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                  </button>  onclick="return Valida1();" -->
                                </div>
                              </form>
                
                            </div>
                          </div>
                        </div>
                    </div>
  
                  </div>
                    <!-- End Profile Edit Form -->

                </div>
                <!-- End Bordered Tabs -->
              </div>
              <div>
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-10">
                        <div class="card-body">
                          <center> <h5 class="card-title">Trader Type : {{ utype }}</h5> </center>
                        </div>
                        <div class="card-body">
                          <p>Volume: <b>{{ volume }}</b></p>
                          <p>Day Low: <b>{{ dayLow }}</b> | Day High: <b>{{ dayHigh }}</b></p>
                          <p>52 week Low: <b>{{ fiftyTwoWeekLow }}</b> | 52 week High: <b>{{ fiftyTwoWeekHigh }}</b></p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="card text-center">
                <div class="card-header">
                  <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                      <b class="nav-link active">Open: {{ open }}</b> 
                    </li>&nbsp;&nbsp;
                    <li class="nav-item">
                      <b class="nav-link active">Previous Close: {{ previousClose }}</b> 
                    </li>&nbsp;&nbsp;
                    <li class="nav-item">
                      <b class="nav-link active">Sector: {{sector}}</b> 
                    </li>&nbsp;&nbsp;
                    <li class="nav-item">
                        <b class="nav-link active">Industry :{{industry}}</b> 
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <b><h5 class="card-title">{{longName}}</h5></b>

                  {% if percentage >= 0 %}                  
                    <h2 style="color:rgba(6, 136, 8, 0.853);"> ₹<b> {{ currentPrice }} </b><p style="font-size: 15px;">{{ percentage }}%<i class="bx bxs-up-arrow"></i></p></h2>
                  {% else %}
                    <h2 style="color:rgba(199, 17, 17, 0.853);"> ₹<b> {{ currentPrice }} </b><p style="font-size: 15px;">{{ percentage }}%<i class="bx bxs-down-arrow"></i></p></h2>
                  {% endif %}
                  <a href="{{website}}" class="btn btn-primary">Go Company Website</a>
                </div>
              </div>

<div>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-2">
            <img src="{{logo_url}}" class="img-fluid rounded-start" alt="Logo Unavailable">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">Company Description</h5>
              <p class="card-text">{{longBusinessSummary}}</p>
            </div>
          </div>
        </div>
      </div>
</div>



<div class="row">
    <div class="col-xxl-6 col-md-6" style="color:rgba(6, 136, 8, 0.853);">
        <div class="card-body">
          <h5 class="card-title">Pros</h5>
          {% for i in a %}
          <ul>
            <li>
              <i><b>{{i}}</b></i>
            </li>
          </ul>
          {% endfor %}
        </div>
    </div>
    <div class="col-xxl-6 col-md-6" style="color:rgba(240, 11, 11, 0.853);">
        <div class="card-body">
          <h5 class="card-title" >Cons</h5>
          {% for i in b %}
          <ul>
            <li>
              <i><b>{{i}} </b></i>
            </li>
          </ul>
          {% endfor %}
        </div>
    </div>
</div>
<hr>


  <!-- Card with header and footer -->
  <div class="card">
    {% if price %}
    <div class="card-header">
      <div style="width:600;height:500">
        <b>Predicted price = {{price.0.0}}</b>
      </div>
    {% else %}
    <p>No graph was provided.</p>
    {% endif %}
    {% if graph %}
    <div style="width:600;height:500">
    {{ graph|safe }}
    </div>
    {% else %}
    <p>No graph was provided.</p>
    {% endif %}
    
  
     </div>
    
  </div>
  <div class="container">
    <h2 class="text-center">Divident Information</h2><br>            
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Divident Payout</th>
        </tr>
      </thead>
      <tbody>
      <!-- jinja2 Technique -->
      {% if divident %}  
      {% for i in divident %}
        <tr>
          <td>{{i.Date}}</td>
          <td>{{i.Dividends}}</td>
       </tr>
      {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </div>
  <div class="container">
    <h2 class="text-center">Recommendation Based on Your Activity</h2><br>            
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Stock</th>
          <th>Date Searched</th>
          <th>LastPrice</th>
          <th>CurrentPrice</th>
          <th>Price Changed</th>
          <th>Percentage Change</th>
          <th>Recommendation status</th>

        </tr>
      </thead>
      <tbody>
      <!-- jinja2 Technique -->
      {% if report %}  
      {% for i in report %}
        <tr>
          <td>{{i.stock}}</td>
          <td>{{i.date}}</td>
          <td>{{i.previousprice}}</td>
          <td>{{i.currentprice}}</td>
          <td>{{i.prchange}}</td>
          <td>{{i.pr_chg_ptg}}</td>
          <th>{{i.recommendationKey}}</th>

       </tr>
      {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </div>

  <!-- End Card with header and footer -->

    <!-- End Donut Chart -->
</div>
</div>
            <div class="row">

            </div>
        </div>
  
    </div>
</div>
</section>
</div>
</main>
{% endblock %}
<script>
 
  function Valida1(){
    var a = document.getElementById('floatingSelect').value.trim();
   
    if(a=="")
      {
        document.getElementById('valid').innerHTML = "Enter Stock";
        return false;
      }
     
      else{
        return true;
      }
  }
</script>