{% include "user_aside.html" %}
{% include "user_header.html" %}
{% include "ad_head.html" %}
{% load static %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <b><h1>TradeBook</h1></b>

      <section class="section">
        <div class="row">
          <div class="col-xl-12">

            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
  
                  <li class="nav-item">
                    <button class="nav-link active btn btn-outline-success" data-bs-toggle="tab" data-bs-target="#profile-overview">Add Trade</button>
                  </li>
  
                  <li class="nav-item">
                    <button class="nav-link btn btn-outline-info" data-bs-toggle="tab" data-bs-target="#profile-edit">Trade Report</button>
                  </li>
  
                </ul>
                <div class="tab-content pt-2">
  
                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    
                    <div class="row">
                      <div class="col-lg-12">
            
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title"></h5>
                
                              <form class="row g-3" action="/addtrade/" method="post">

                              {% csrf_token %}  <!-- this token takes data -->

                                <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Stock" id="" name="stock">
                                </div>
                                <div class="col-md-6">
                                  <input type="number" class="form-control" placeholder="Quantity" id="" name="qty">
                                </div>                      
                                <div class="col-md-6">
                                  <div class="input-group mb-4">
                                  <input type="number" class="form-control" placeholder="Entry" id="" name="entry">
                                  <span class="input-group-text">Rs</span>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <input type="date" class="form-control" placeholder="Date" id="" name="edate">
                                </div>
                                <div class="col-6">
                                  <div class="input-group mb-4">
                                  <input type="number" class="form-control" placeholder="Exit" id="" name="exit">
                                  <span class="input-group-text">Rs</span>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <input type="date" class="form-control" placeholder="Date" id="" name="exdate">
                                </div>
                                
                                <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Strategy" id="" name="strg">
                                </div>
                                <div class="col-md-6">
                                  <textarea name="remark" id="" cols="50" rows="2" placeholder="Mistake / Remarks" ></textarea>
                                </div>
                                <div class="text-center">
                                  <button type="submit" class="btn btn-primary">Save</button>
                                  <button type="reset" class="btn btn-secondary">Reset</button>        
                                </div>
                              </form>
                
                            </div>
                          </div>
                        </div>
                    </div>
  
                  </div>
  
                  <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
  
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card">
                          <div class="card-body">
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <!-- <th scope="col">No</th> -->
                                  <th scope="col">Stock</th>
                                  <th scope="col">Quantity</th>
                                  <th scope="col">Entry</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Exit</th>
                                  <th scope="col">Date</th>
                                  <th scope="col">Gain</th>
                                  <th scope="col">Strategy</th>
                                  <th scope="col">Mistake/Remark</th>
                
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <!-- <th scope="row">1</th> -->
                                  {% for j in td %}
                                  <td>{{j.stock}}</td>
                                  <td>{{j.qty}}</td>
                                  <td>{{j.buy}}</td>
                                  <td>{{j.b_date}}</td>
                                  <td>{{j.sell}}</td>
                                  <td>{{j.s_date}}</td>
                                  <td>{{j.gain}}%</td>
                                  <td>{{j.strategy}}</td>
                                  <td>{{j.remark}}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                        
                    </div>
                    <!-- End Profile Edit Form -->
  
                  </div>
                </div>
                <!-- End Bordered Tabs -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>
      </div>
</main>
{% endblock %}