{%load static%}
<!DOCTYPE html>
<html lang="en">

<!-- <head>

</head> -->

<body>

<!-- <header>

</header> -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/tu_home/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Blogs</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/tu_addBlog/">
              <i class="bi bi-circle"></i><span>Add Blog</span>
            </a>
          </li>
          <!-- <li>
            <a href="/acc_viewList/">
              <i class="bi bi-circle"></i><span>Tutors List</span>
            </a>
          </li> -->
        </ul>
      </li>
      <!-- End Components Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Handle Doubt</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/tu_dbtlist/">
              <i class="bi bi-circle"></i><span>View Requests</span>
            </a>
          </li>
          <!-- <li>
            <a href="/user_reqmanage/">
              <i class="bi bi-circle"></i><span>My Requests</span>
            </a>
          </li> -->
        </ul>
      </li>

      
      <!-- End Forms Nav -->

      <!-- End Tables Nav -->

     <!-- End Profile Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  <!-- main start -->

  {% block content %}
  {% endblock %}
  <!-- End #main -->

  <!-- Vendor JS Files -->

  <!-- Template Main JS File -->
 

</body>
</html>