{% include "ad_aside.html" %}
{% include "ad_header.html" %}
{% include "ad_head.html" %}
{% load static %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <b><h1>Create Blog</h1></b>

      <section class="section">
        <div class="row">
          <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                  <h5 class="card-title"></h5>
    
                  <form class="row g-3">
                    <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="Blog Title" id="" name="">
                    </div> 
                    <div class="col-md-12">
                      <input type="date" class="form-control" placeholder="Date" id="" name="">
                    </div>
                    <div class="col-md-6">
                      <input type="file" class="form-control" placeholder="Thumnail" id="" name="">
                    </div>
                    <div class="col-md-12">
                      <textarea name="" id="" cols="50" rows="2" placeholder="Description"></textarea>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <button type="reset" class="btn btn-secondary">Reset</button>
                      <button type="submit" class="btn btn-outline-info"><a href="/editBlog/">Manage</a></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </section>
      </div>
</main>
{% endblock %}