{% include "tu_aside.html" %}
{% include "tu_header.html" %}
{% include "ad_head.html" %}
{% load static %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle" style="margin-top: -5%;">
      <center><b><h1>Doubt Details</h1></b></center>

      <section class="section">
        <div class="row">
          <div class="col-xl-12">

            <div class="card">
              <div class="card-body pt-3">

                <ul class="nav nav-tabs nav-tabs-bordered">
  
                    <li class="nav-item">
                      <button class="nav-link active btn btn-outline-success" data-bs-toggle="tab" data-bs-target="#profile-overview">Doubt Details</button>
                    </li>
    
                    <li class="nav-item">
                      <button class="nav-link btn btn-outline-info" data-bs-toggle="tab" data-bs-target="#profile-edit">Solution</button>
                    </li>
    
                  </ul>

                <!-- Bordered Tabs -->
                
                <div class="tab-content pt-2">
                    <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <div class="row">
                      <div class="col-lg-12">
            
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title"></h5>
                
                              <form class="row g-3" action="" method="post">

                              {% csrf_token %}  <!-- this token takes data -->

                              <div class="card mb-3">
                                <span class="badge bg-info text-dark card-title">{{name.Name}}</span>       

                                <div class="row g-0">
                                  <div class="col-md-4">
                                    <img src="{{dbtdetails.dthumb}}" width="250" height="200" class="img-fluid rounded-start" alt="{{dbtdetails.dthumb}}">
                                  </div>
                                  <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">{{dbtdetails.dtitle}}</h5>
                                      <p class="card-text">{{dbtdetails.ddesc}}</p>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <h5 class="card-title">Date: {{dbtdetails.ddate}}</h5>
                                  </div>
                                  <div class="col-md-6">
                                    <h5 class="card-title">Stock Exchange: {{dbtdetails.exchange}}</h5>
                                  </div>
                                </div>
                              </div>

                                <div class="col-md-8">
                                    <div class="card-body">
                                      <h5 class="card-title">Requested Services : {{dbtdetails.cagr}},{{dbtdetails.target}},{{dbtdetails.time}}</h5>
                                      <div class="col-md-6">
                                        <h5 class="card-title">Risk Details: {{dbtdetails.risk}}</h5>
                                        <h5 class="card-title">Capital : {{dbtdetails.capital}}</h5>
                                        <h5 class="card-title">Sector : {{dbtdetails.sector}}</h5>
                                      </div>
                                  </div>
                                </div>
                                </div>
                               
                                <div class="text-center">
                                  <a href="/markview/{{dbtdetails.id}}" class="btn btn-outline-success">
                                 Mark as <span class="badge bg-success">Viewed</span>
                                  </a>
                                </div>
                              </form>
                
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                        <div class="row">
                            <div class="col-lg-12">
                  
                              <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title"></h5>
                      
                                    <form class="row g-3" action="/solution/" method="post">

                                        {% csrf_token %}  <!-- this token takes data -->
                                        <input type="hidden" name="solid" value="{{dbtdetails.id}}">
                                        <div class="col-md-6">
                                            <textarea name="remark" id="desc" cols="50" rows="2" placeholder="Solution Description" ></textarea>
                                        </div>
          
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Useful Website suggestion" id="qty" name="qty">
                                        </div> 
          
                                          <div class="text-center">
                                            <a href="/markpro/{{dbtdetails.id}}" class="btn btn-outline-info" >
                                              Mark as<span class="badge bg-primary">Processed</span>
                                            </a>
                                           
                                            <!-- <button  data-bs-toggle="tab" data-bs-target="#profile-edit"></button>  -->
                                            <button class="btn btn-outline-success" data-bs-toggle="tab" data-bs-target="#profile-edit">Send<span class="badge bg-success">Solution</span></button> 
                                        </div>
                                        </form>
                      
                                  </div>
                                </div>
                              </div>
                          </div>

                    </div>
                </div>
                <!-- End Bordered Tabs -->
              </div>
            </div>
  
          </div>
        </div>
      </section>
      </div>
</main>
{% endblock %}