{%load static%}
<!DOCTYPE html>
<html lang="en">

<!-- <head>

</head> -->

<body>

<!-- <header>

</header> -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/user_home/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Trade Book</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/tradebook/">
              <i class="bi bi-circle"></i><span>Add Trade</span>
            </a>
          </li>
          
        </ul>
      </li>
      <!-- End Components Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Screener</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/plotly/">
              <i class="bi bi-circle"></i><span>View Screener</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Forms Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Doubt Clearence</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/user_request/">
              <i class="bi bi-circle"></i><span>New Request</span>
            </a>
          </li>
          <li>
            <a href="/user_reqmanage/">
              <i class="bi bi-circle"></i><span>My Requests</span>
            </a>
          </li>
          <li>
            <a href="/user_reqsolution/">
              <i class="bi bi-circle"></i><span>Solutions</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Tables Nav -->
      

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  <!-- main start -->

  {% block content %}
  {% endblock %}
  <!-- End #main -->

  <!-- Vendor JS Files -->

  <!-- Template Main JS File -->
 

</body>
</html>