{% include "user_aside.html" %}
{% include "user_header.html" %}
{% include "ad_head.html" %}
{% load static %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle" style="margin-top: -5%;">
      <b><h1 style="margin-bottom: 1%;">Post a Doubt</h1></b>

      <section class="section" style="margin-bottom: 1%;">
        <div class="row">
          <div class="col-xl-12">

            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
  
                  <li class="nav-item">
                    <button class="nav-link active btn btn-outline-success" data-bs-toggle="tab" data-bs-target="#profile-overview">Investing</button>
                  </li>
  
                  <li class="nav-item">
                    <button class="nav-link btn btn-outline-info" data-bs-toggle="tab" data-bs-target="#profile-edit">Trading</button>
                  </li>

                  <li class="nav-item">
                    <button class="nav-link btn btn-outline-warning" data-bs-toggle="tab" data-bs-target="#profile-settings">Tips / Suggestion</button>
                  </li>
  
                  <li class="nav-item">
                    <button class="nav-link btn btn-outline-danger" data-bs-toggle="tab" data-bs-target="#profile-change-password">Others</button>
                  </li>
  
                </ul>
                <div class="tab-content pt-2">
  
                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    
                    <div class="row">
                      <div class="col-lg-12">
            
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title"></h5>

                              <!-- investing request -->
                              <form class="row g-3" action="/invest_req/" method="post" onsubmit="return Valida1();"  enctype="multipart/form-data">

                              {% csrf_token %}  <!-- this token takes data -->

                              <div class="col-md-6">
                                <div class="form-floating mb-3">
                                  <input list="stock" class="form-select" name="stock" id="floatingSelect" aria-label="Floating label select example" placeholder="Stock">
                              <datalist id="stock">  
                                <option selected disabled>Stock</option>
                                {% if list %}
                                {% for i in list %}
                                  <option value={{i}}>{{i}}</option>
                                {% endfor %}
                               {% endif %}
                              </datalist>
                            </input>
                                  <!-- <label for="floatingSelect">Works with selects</label> -->
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="form-floating mb-3">
                                  <select class="form-select" id="floatingSelect1" aria-label="Floating label select example" name="stkex">
                                    <option value="">Stock Exchange</option>
                                    <option value="NSE">National Stock Exchange - NSE</option>
                                    <option value="BSE">Bombay Stock Exchange - BSE</option>
                                    
                                  </select>
                                  <!-- <label for="floatingSelect">Works with selects</label> -->
                                </div>
                                </div>

                                <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Subject" id="sub" name="sub">
                                </div> 

                                <div class="col-md-6">
                                  <textarea name="remark" id="des" cols="68" rows="2" placeholder="Describe your queries here..."></textarea>
                                </div>

                                <div class="col-md-6">
                                  <input class="form-check-input" type="hidden" id="gridCheck1" name="pic" value="">
                                  <input type="file" class="form-control" placeholder="Date" id="" name="pic">
                                </div>

                                <div class="col-md-6">
                                  <input type="date" class="form-control" placeholder="Date" id="" name="deadline">
                                </div>

                                <div class="">
                                <div class="form-check">
                                  <input class="form-check-input" type="hidden" id="gridCheck1" name="time" value="">
                                  <input class="form-check-input" type="checkbox" id="gridCheck1" name="time" value="TIME">
                                  <label class="form-check-label" for="gridCheck1">
                                   Time - Entry & Exit
                                  </label>
                                </div>

                                <div class="form-check">
                                  <input class="form-check-input" type="hidden" id="gridCheck1" name="cagr" value="">
                                  <input class="form-check-input" type="checkbox" id="gridCheck1" name="cagr" value="CAGR">
                                  <label class="form-check-label" for="gridCheck1">
                                  CAGR % 
                                  </label>
                                </div>

                                <div class="form-check">
                                  <input class="form-check-input" type="hidden" id="gridCheck1" name="target" value="">
                                  <input class="form-check-input" type="checkbox" id="gridCheck2" name="target" value="TARGET">
                                  <label class="form-check-label" for="gridCheck2">
                                    Target %
                                  </label>
                                </div>
                                </div>
                                <span id="valid" style="color: red;text-align: center;"></span><br>
                                <div class="text-center">
                                  <input type="submit" class="btn btn-primary" value="Request">
                                  <button type="reset" class="btn btn-secondary">Reset</button>        
                                </div>
                              </form>
                
                            </div>
                          </div>
                        </div>
                    </div>
  
                  </div>
  
                  <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
  
                    <div class="row">
                      <div class="col-lg-12">
            
                        <div class="card">
                            <div class="card-body">
                              <h5 class="card-title"></h5>
                
                              <form class="row g-3" action="/trade_req/" method="post" onsubmit="return Valida2();" enctype="multipart/form-data">

                              {% csrf_token %}  <!-- this token takes data -->

                              <div class="col-md-6">
                                <div class="form-floating mb-3">
                                  <input list="stock" name="stock" class="form-select" id="floatingSelect" aria-label="Floating label select example" placeholder="Stock">
                              <datalist id="stock">  
                                <option selected>Stock</option>
                                {% if list %}
                                {% for i in list %}
                                <option value={{i}}>{{i}}</option>
                                {% endfor %}
                               {% endif %}
                              </datalist>
                            </input>
                                  <!-- <label for="floatingSelect">Works with selects</label> -->
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="form-floating mb-3">
                                  <select class="form-select" name="stkex" id="floatingSelect1" aria-label="Floating label select example">
                                    <option selected value="">Stock Exchange</option>
                                    <option value="NSE">National Stock Exchange - NSE</option>
                                    <option value="BSE">Bombay Stock Exchange - BSE</option>
                                    
                                  </select>
                                  <!-- <label for="floatingSelect">Works with selects</label> -->
                                </div>
                                </div>

                                <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Subject" id="sub" name="sub" >
                                </div> 

                                <div class="col-md-6">
                                  <textarea name="remark" id="des" cols="68" rows="2" placeholder="Describe your queries here..."></textarea>
                                </div>

                                <div class="col-md-6">
                                  <input type="file" class="form-control" placeholder="Choose relevent picture" id="" name="pic" >
                                </div>

                                <div class="col-md-6">
                                  <input type="date" class="form-control" placeholder="Date" id="" name="deadline">
                                </div>

                                <div class="">
                                <div class="form-check">
                                  <input class="form-check-input" type="hidden" id="gridCheck1" name="time" value="">
                                  <input class="form-check-input" type="checkbox" id="gridCheck1" name="time" value="TIME">
                                  <label class="form-check-label" for="gridCheck1">
                                   Time - Entry & Exit
                                  </label>
                                </div>

                                <div class="form-check">
                                  <input class="form-check-input" type="hidden" id="gridCheck1" name="cagr" value="">
                                  <input class="form-check-input" type="checkbox" id="gridCheck1" name="cagr" value="CAGR">
                                  <label class="form-check-label" for="gridCheck1">
                                  CAGR % 
                                  </label>
                                </div>

                                <div class="form-check">
                                  <input class="form-check-input" type="hidden" id="gridCheck1" name="target" value="">
                                  <input class="form-check-input" type="checkbox" id="gridCheck1" name="target" value="TARGET">
                                  <label class="form-check-label" for="gridCheck2">
                                    Target %
                                  </label>
                                </div>
                                </div>
                                <span id="valid" style="color: red;text-align: center;"></span><br>
                                <div class="text-center">
                                  <input type="submit" class="btn btn-primary" value="Request">

                                  <button type="reset" class="btn btn-secondary">Reset</button>        
                                </div>
                              </form>
                
                            </div>
                          </div>
                        </div>
                    </div>

                  </div>
                  <script>
                    function Valida2(){
             var a = document.getElementById('floatingSelect').value.trim();
 var b = document.getElementById('floatingSelect1').value.trim();
 var c = document.getElementById('sub').value.trim();
 var d = document.getElementById('des').value.trim();
 if(a=="")
   {
     document.getElementById('valid').innerHTML = "Choose Stock";
     return false;
   }
   if(b=="")
   {
     document.getElementById('valid').innerHTML = "Enter Stock exchange";
     return false;
   }
   if(c=="")
   {
     document.getElementById('valid').innerHTML = "Enter Subject";
     return false;
   }
   if(d=="")
   {
     document.getElementById('valid').innerHTML = "Enter Description";
     return false;
   }
   else{
     return true;
   }
}
                 </script>
                    <!-- End Profile Edit Form -->

                    <div class="tab-pane fade pt-3" id="profile-settings">
                      <div class="row">
                        <div class="col-lg-12">
              
                          <div class="card">
                              <div class="card-body">
                                <h5 class="card-title"></h5>
                  
                                <form class="row g-3" action="/tips_req/" method="post" onsubmit="return Valida3();" enctype="multipart/form-data">
  
                                {% csrf_token %}  <!-- this token takes data -->
  
                                <div class="col-md-6">
                                  <input type="text" class="form-control" placeholder="Subject" id="s1" name="sub">
                                </div> 

                                <div class="col-md-6">
                                  <textarea name="remark" id="s2" cols="68" rows="2" placeholder="Describe your queries here..." ></textarea>
                                </div>

                                <div class="col-md-6">
                                  <div class="form-floating mb-3">
                                    <input list="stock" class="form-select" id="floatingSelect" aria-label="Floating label select example" placeholder="Stock" name="stock">
                                <datalist id="stock">  
                                  <option selected>Stock</option>
                                  {% if list %}
                                  {% for i in list %}
                                  <option value={{i}}>{{i}}</option>
                                  {% endfor %}
                                 {% endif %}
                                </datalist>
                              </input>
                                    <!-- <label for="floatingSelect">Works with selects</label> -->
                                  </div>
                                </div>
                                  

                                  <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                      <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="risk">
                                        <option selected value="">Risk Profile</option>
                                        <option value="LOW" class="btn btn-outline-success">Low</option>
                                        <option value="MEDIUM" class="btn btn-outline-info">Medium</option>
                                        <option value="HIGH" class="btn btn-outline-danger">High</option>
                                      </select>
                                      <!-- <label for="floatingSelect">Works with selects</label> -->
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <input type="number" class="form-control" placeholder="My Capital" id="" name="cap">
                                  </div>
                                  <div class="">
                                    


                                    <div class="form-check">
                                      <input class="form-check-input" type="hidden" id="gridCheck1" name="time" value="">
                                      <input class="form-check-input" type="checkbox" id="gridCheck1" name="time" value="TIME">
                                      <label class="form-check-label" for="gridCheck1">
                                       Time - Entry & Exit
                                      </label>
                                    </div>
    
                                    <div class="form-check">
                                      <input class="form-check-input" type="hidden" id="gridCheck1" name="cagr" value="">
                                      <input class="form-check-input" type="checkbox" id="gridCheck1" name="cagr" value="CAGR">
                                      <label class="form-check-label" for="gridCheck1">
                                      CAGR % 
                                      </label>
                                    </div>
    
                                    <div class="form-check">
                                      <input class="form-check-input" type="hidden" id="gridCheck1" name="target" value="">
                                      <input class="form-check-input" type="checkbox" id="gridCheck1" name="target" value="TARGET">
                                      <label class="form-check-label" for="gridCheck2">
                                        Target %
                                      </label>
                                    </div>
                                    <span id="valid" style="color: red;text-align: center;"></span><br>
                                  </div>
                                  <div class="text-center">
                                    <input type="submit" class="btn btn-primary" value="Request">

                                    <button type="reset" class="btn btn-secondary">Reset</button>        
                                  </div>
                                </form>
                  
                              </div>
                            </div>
                          </div>
                      </div>

                    </div>
                   
                    
                    <div class="tab-pane fade pt-3" id="profile-change-password">

                      <div class="row">
                        <div class="col-lg-12">
              
                          <div class="card">
                              <div class="card-body">
                                <h5 class="card-title"></h5>
                  
                                <form class="row g-3" action="/other_req/" method="post">
  
                                  {% csrf_token %}  <!-- this token takes data -->
    
                                  <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Subject" id="" name="sub" required>
                                  </div> 
  
                                  <div class="col-md-6">
                                    <textarea name="remark" id="" cols="68" rows="2" placeholder="Describe your queries here..." required ></textarea>
                                  </div>
  
                                  <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                      <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="risk" required>
                                        <option selected value="">Risk Profile</option>
                                        <option value="LOW" class="btn btn-outline-success">Low</option>
                                        <option value="MEDIUM" class="btn btn-outline-info">Medium</option>
                                        <option value="HIGH" class="btn btn-outline-danger">High</option>
                                      </select>
                                      <!-- <label for="floatingSelect">Works with selects</label> -->
                                    </div>
                                  </div>
                                    
                                    <div class="">
                                      
  
  
                                      <div class="form-check">
                                        <input class="form-check-input" type="hidden" id="gridCheck1" name="time" value="">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1" name="time" value="TIME">
                                        <label class="form-check-label" for="gridCheck1">
                                         Time - Entry & Exit
                                        </label>
                                      </div>
      
                                      <div class="form-check">
                                        <input class="form-check-input" type="hidden" id="gridCheck1" name="cagr" value="">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1" name="cagr" value="CAGR">
                                        <label class="form-check-label" for="gridCheck1">
                                        CAGR % 
                                        </label>
                                      </div>
      
                                      <div class="form-check">
                                        <input class="form-check-input" type="hidden" id="gridCheck1" name="target" value="">
                                        <input class="form-check-input" type="checkbox" id="gridCheck1" name="target" value="TARGET">
                                        <label class="form-check-label" for="gridCheck2">
                                          Target %
                                        </label>
                                      </div>
                                    </div>
                                    <div class="text-center">
                                      <input type="submit" class="btn btn-primary" value="Request">
                                      <button type="reset" class="btn btn-secondary">Reset</button>        
                                    </div>
                                  </form>
                  
                              </div>
                            </div>
                          </div>
                      </div>

                    </div>
                </div>
                <!-- End Bordered Tabs -->
              </div>
            </div>
  
          </div>
        </div>
      </section>
      </div>
</main>
{% endblock %}
<script>
 
  function Valida1(){
    var a = document.getElementById('floatingSelect').value.trim();
    var b = document.getElementById('floatingSelect1').value.trim();
    var c = document.getElementById('sub').value.trim();
    var d = document.getElementById('des').value.trim();
    if(a=="")
      {
        document.getElementById('valid').innerHTML = "Enter Stock";
        return false;
      }
      if(b=="")
      {
        document.getElementById('valid').innerHTML = "Enter Stock Stock exchane";
        return false;
      }
      if(c=="")
      {
        document.getElementById('valid').innerHTML = "Enter Subject";
        return false;
      }
      if(d=="")
      {
        document.getElementById('valid').innerHTML = "Enter Description";
        return false;
      }
      else{
        return true;
      }
  }

 
  function Valida3(){
    var a = document.getElementById('s1').value.trim();
    var b = document.getElementById('s2').value.trim();
    var c = document.getElementById('floatingSelect').value.trim();
   
    if(a=="")
      {
        document.getElementById('valid').innerHTML = "Enter Subject";
        return false;
      }
      if(b=="")
      {
        document.getElementById('valid').innerHTML = "Enter Description";
        return false;
      }
      if(c=="")
      {
        document.getElementById('valid').innerHTML = "Enter risk profile";
        return false;
      }
     
      else{
        return true;
      }
  }

</script>