<html>

<head>
  <link rel="stylesheet" href="../static/assets/css/login.css">
  <link rel="stylesheet" href="../static/assets/css/log_login.css">

  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Trader Trot - UserRegistration</title>
</head>
<header class="header">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <a href="#" class="logo"> <i class="fas fa-chart-line"></i> TraderTrot </a>


    <nav class="navbar">
        <a href="#">Home</a>
        <a href="#">Contact Us</a>
        <a href="#">about</a>
    </nav>

    <div id="menu-btn" class="fas fa-bars"></div>

</header>
<body>
<section class="tab" >
<div class="clearfix secondary-nav" style="margin-left:627px;margin-top:65px;">
              <ul class="list">
                 <!-- <li><a style="text-decoration : underline;color: #16a085;" class="logintab" href="login.php">Login</a></li> -->
                 <!-- <li><a class="rtab" href="login.html">Register</a></li> -->
              </ul>
          </div>
</section>
 
<section class="home loginpage" id="home">
    
        <div class="loginimage" align ="center" style="margin-top: 20%;">
            <img src="../static/assets/img/good-team-animate.svg"  alt="" height="400px" width="400px">
        </div>
    
  <div class="main1"  align ="center">
    <p class="sign" align="center" style="margin-top: -50px;">Sign Up</p>
    <form class="form1" action="" method="post">
      <input class="un " type="text" align="center" placeholder="Name">
      <input class="pass" type="email" align="center" placeholder="Email">
      <input class="pass" type="mobile" align="center" placeholder="Contact Number">
      <input class="pass" type="number" align="center" placeholder="Experience year">
      <input class="pass" type="password" align="center" placeholder="Enter Password">
      <input class="pass" type="text" align="center" placeholder="Confirm Password">
      <input class="pass" type="text" align="center" placeholder="Profession">

      <a class="submit" align="center">Sign Up</a>
      <a class="submit" align="center">Sign in</a>
      <!-- <p class="forgot" align="center"><a  style="margin-left: 38px; ">Already User? </p> -->


            
    </form>        
    </div>

</section>
</body>
</html