{%load static%}
<html>
<head>
  <script>
    var a = "{{message}}"
    if(a.length!=0){
      alert(a);
    }
  </script> 
  <link rel="stylesheet" href="{% static 'assets/css/login.css'%}">
  <link rel="stylesheet" href="{% static 'assets/css/log_login.css'%}">

  <link href="{% static 'https://fonts.googleapis.com/css?family=Ubuntu'%}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'path/to/font-awesome/css/font-awesome.min.css'%}">
  <title>Trader Trot - User Registration</title>
</head>
<header class="header">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <a href="#" class="logo"> <i class="fas fa-chart-line"></i> TraderTrot </a>


    <nav class="navbar">
        <a href="/index/">Home</a>
        <a href="#">Contact Us</a>
        <a href="#">about</a>
    </nav>

    <div id="menu-btn" class="fas fa-bars"></div>

</header>
<body>
<section class="tab" >
<div class="clearfix secondary-nav" style="margin-left:627px;margin-top:65px;">
              <ul class="list">
                 
              </ul>
          </div>
</section>
 
<section class="home loginpage" id="home">
    
        <div class="loginimage" align ="center" style="margin-top: 15%;">
            <img src="{% static 'assets/img/good-team-animate.svg '%}"  alt="" height="500px" width="100%">
        </div>
     
  <div class="main1"  align ="center">
   
    <p class="sign" align="center" style="margin-top: -50px;">Sign Up</p>
    <form class="form1" action="register" method="post"  onclick="return validate()">
     
      {% csrf_token %}  <!-- this token takes data -->

      <input class="un" name="name" type="text" align="center" placeholder="Name" id="Name" onclick="return clearValid()"> 

      <input class="un" name="email" type="email" align="center" placeholder="Email" id="email" onclick="return clearValid()"> 

      <input class="un" name="mobile" type="mobile" align="center" placeholder="Contact Number" id="mobile" onclick="return clearValid()">

      <input class="un" name="year" type="number" align="center" placeholder="Experience year" id="year" onclick="return clearValid()"> 

      <input class="un" name="pswd" type="password" align="center" placeholder="Enter Password" id="pswd" onclick="return clearValid()">

      <input class="un" name="cpswd" type="text" align="center" placeholder="Confirm Password" id="cpswd" onclick="return clearValid()">

      <input class="un" name="profession" type="text" align="center" placeholder="Profession" id="profession" onclick="return clearValid()">

     <br><span id="pro" style="color:red;"></span><br>
      <input type="submit" name="submit" value="submit"class="submit" align="center" > 
    </form>  
    <p class="forgot" align="center"><a  style="margin-left: 38px; " href="/login">Already User?</p>      
    </div>

</section>
</body>
<script>
  function validate()
  {
    var uname=document.getElementById('Name').value.trim();
    var email=document.getElementById('email').value.trim();
    var mobile=document.getElementById('mobile').value.trim();
    var year=document.getElementById('year').value.trim();
    var pswd=document.getElementById('pswd').value.trim();
    var cpswd=document.getElementById('cpswd').value.trim();
    var profession=document.getElementById('profession').value.trim();

    if (uname=="")
    {
      document.getElementById('pro').innerHTML="**Enter Name";
      return false;
    }
    if(email=="")
    {
      document.getElementById('pro').innerHTML="**Enter Email";
      return false;
    }
    //is an email
    if(mobile=="")
    {
      document.getElementById('pro').innerHTML="**Enter Contact Number";
      return false;
    }
    if(year=="")
    {
      document.getElementById('pro').innerHTML="**Enter Experience year";
      return false;
    }
    //is a number validation
    if(pswd=="")
    {
      document.getElementById('pro').innerHTML="**Enter Password";
      return false;
    }
    //is it contain alphabets,number,symbols?
    if(cpswd=="")
    {
      document.getElementById('pro').innerHTML="**Confirm Password";
      return false;
    }
    if(pswd!=cpswd)
    {
      document.getElementById('pro').innerHTML="**Password does't match";
      return false;
    }
    if(profession=="")
    {
      document.getElementById('pro').innerHTML="**Enter Profession";
      return false;
    }
    else
    {
      return true;
    }
  }

  function clearValid()
  {
    document.getElementById('pro').innerHTML="";
    document.getElementById('pro').innerHTML="";
    document.getElementById('pro').innerHTML="";
    document.getElementById('pro').innerHTML="";
    document.getElementById('pro').innerHTML="";
    document.getElementById('pro').innerHTML="";
    document.getElementById('pro').innerHTML="";
    return false;
  }
</script>
</html